body {
    background: url(https://img.freepik.com/free-photo/_53876-89448.jpg?size=626&ext=jpg);
    background-size: cover;
    font-family: cursive;
}


div {
    border: solid 2px black;
    width: 220px;
    padding: 5px;
    display: inline-block;
    background-color: aliceblue;
}

.headerLeft {
    float: left;
    margin-top: 0;
    margin-left: 6px;
}

.headerRight {
    float: right;
    padding-right: 30px;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: inline-block;
    background-color: powderblue;
    height: 40px;
    border: none;
}

.block1 {
    width: 250px;
    background: powderblue;
    padding: 5px 20px 5px 5px;
    border: solid 1px black;
}

.blockForButtons {
    width: 200px;
    padding: 5px 20px 5px 5px;
    border: none;
    background: none;
}

.elements {
    position: absolute;
    text-align: center;
    top: 0;
    right: 10%;
    height: 40px;
    width: 260px;
    background: none;
    border: solid 1px black;
}

.index{
    width: 200px;
    margin-top: 10%;
    border: solid 1px black;
    text-align: center;
    background: aliceblue;
}

.register{
     width: 200px;
     margin-top: 10%;
     border: solid 1px black;
     text-align: center;
     background: powderblue;
 }

.assign{
    width: 250px;
    margin-top: 5%;
    border: solid 1px black;
    text-align: center;
    background: powderblue;
}

.blockBottom {
    position: relative;
    text-align: center;
    width: 99%;
    bottom: 0;
    left: 0;
    background: none;
    border: none;
}

.buttons {
    margin: 1px;
    display: inline-block;
}

.b {
    background: #ffcd90
}

.center {
    /*position: fixed;*/
    position: relative;
    width: 99%;
    left: 0;
    margin-top: 60px;
    text-align: center;
    border: none;
    background: none;
}

.futureReports{
    height: 450px;
}

.blockUpdateReport {
    width: 570px;
    text-align: center;
    border: solid 1px black;
    background-color: powderblue;
}

h2 {
    margin-top: 50px;
    width: 100%;
}