body {
    /*margin: 0; !* Убираем отступы *!*/
    /*height: 100%; !* Высота страницы *!*/
    background: url(https://img.freepik.com/free-photo/_53876-89448.jpg?size=626&ext=jpg); /* Параметры фона */
    background-size: cover; /* Фон занимает всю доступную площадь */
    font-family: cursive;
}

/*html {*/
/*    background: url(background.jpg); ;*/
/*}*/

/*a img, form, fieldset {*/
/*    height: content-box;*/
/*    width: content-box;*/
/*    border: 6pt;*/
/*    !*background: burlywood;*!*/
/*}*/



/*body {*/
/*    background: beige;*/
/*}*/


div {
    /*margin: auto;*/
    border: solid 2px black;
    width: 200px;
    padding: 5px;
    display: inline-block;
    /*font-family: cursive;*/
    background-color: aliceblue;
}
.blockHeader{
    width: 100%;
    height: 20px;
}

.block1 {
    width: 300px;
    background: #cbb9cc;
    padding: 5px;
    padding-right: 20px;
    border: solid 1px black;
    /*float: left;*/
}

.block11 {
    width: 300px;
    padding: 5px;
    padding-right: 20px;
    border: none;
    /*float: left;*/
}

.block2 {
    width: 5px;
    height: 5px;
    background: #ccc;
    padding: 5px;
    padding-right: 20px;
    border: solid 1px black;
    display: inline-block;
    /*float: left;*/
}

.block3 {
    background: #ccc;
    /*border: solid 0px black;*/
    display: inline-block;
    /*float: left;*/
}

.blockTop {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
}

.blockTop2 {
    position: absolute;
    top: 0;
    right: 220px;
    width: 200px;
}

.blockBottom {
    position: absolute;
    /*top:50%;*/
    bottom: 10%;
    right: 50%;
    width: max-content;
    border: none;

}

.blockCenter {
    position: absolute;
    /*top:50%;*/
    bottom: 50%;
    right: 50%;
    width: max-content;
    border: solid 1px black;
    background-color: cornflowerblue;
}

.blockUpdateReport {
    position: absolute;
    /*top:50%;*/
    bottom: 5%;
    right: 45%;
    width: 300px;
    border: solid 1px black;
    background-color: aliceblue;
}

