a img, form, fieldset {
    height: content-box;
    width: content-box;
    border: 6pt;
    /*background: burlywood;*/
}

h1 {
    background: aqua;
    font-family: "Arial Black";
    color: blue;
}

body {
    background: beige;
}

div {
    /*margin: auto;*/
    border: solid 2px black;
    width: 200px;
    padding: 5px;
    display: inline-block;
}

.block1 {
    width: 300px;
    background: #cbb9cc;
    padding: 5px;
    padding-right: 20px;
    border: solid 1px black;
    /*float: left;*/
}

.block11 {
    width:300px;
    padding:5px;
    padding-right: 20px;
    border: none;
    /*float: left;*/
}

.block2 {
    width: 5px;
    height: 5px;
    background: #ccc;
    padding: 5px;
    padding-right: 20px;
    border: solid 1px black;
    display: inline-block;
    /*float: left;*/
}

.block3 {
    background: #ccc;
    /*border: solid 0px black;*/
    display: inline-block;
    /*float: left;*/
}

.blockTop{
    position:absolute;
    top:0;
    right:0;
    width:200px;
}
.blockTop2{
    position:absolute;
    top:0;
    right:220px;
    width:200px;
}

.blockBottom {
    position:absolute;
    /*top:50%;*/
    bottom: 10%;
    right:50%;
    width:max-content;
    border: none;

}

.blockCenter {
    position:absolute;
    /*top:50%;*/
    bottom: 50%;
    right:50%;
    width:max-content;
    border: solid 1px black;;

}